 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

 body {
   font-family: 'News Cycle', sans-serif;
   width: 100%;
   background-color: hsla(25,19%,93%,1);
   padding: 8px;
 }

 .container {
//   width: 98%;
   margin: 0 auto;
 }


 header {
   height: 80px;
   background-color: hsla(176,43%,37%,1);


   img {
     width: 25%;
     margin-top: 10px;
     margin-left: 2%;
     filter: invert(97%);

    }

  a {

    color: black;
    button {
      float: right;
      margin-top: 24px;
      margin-right: 2%;
      width: 8%;
      height: 35px;
      font-size: 19px;
      font-weight: 400;
      color: white;
      background-color:hsla(170,33%,27%,1) ;
      border: hidden;
      border-radius: 31px;
      line-height: 13px;
      cursor: pointer;
    }
  }
 }

 .menuitems {
   text-align: center;
   height: 32px;
   background-color: hsla(176,43%,37%,1);
   margin-top: -4px;

   a {
     text-decoration: none;
     color: white;
     padding: 15px;
     font-weight: 700;

     &:hover {
       color:hsla(31,30%,69%,1);
     }
   }
 }

 section {
   background-color: hsla(44,22%,87%,1);
   width: 85%;
   height:500px;
   float: right;
   overflow: scroll;
   text-align: center;
 }

 aside {
   background-color: hsla(176,43%,37%,1);
   float: left;
   width: 15%;
   height: 522px;
   text-align: center;
   margin-top: -22px;


   a {
     text-decoration: none;
     color: white;
     font-weight: 700;
     font-size: 125%;
     text-align: center;

  }
   p{
     margin-top: 170px;
     color: white;
     font-weight: 700;
     font-size: 130%;
     text-align: center;
   }
   img{
     width: 65%;
     padding-top: 10px;
   }
 }



 footer {
   clear: both;
   text-align: center;
   width: 100%;
   height: 100px;
   background-color: hsla(176,43%,37%,1);
   color: white;

   a{
     color: white;
     text-decoration: none;
   }

   img {
     width: 25%;
     margin-top: 10px;
     margin-left: 33%;
     filter: invert(97%);

   }
   p {
     font-size: 13px;
     float: right;
     margin-top: 66px;
     margin-right: 3%;

   }
 }


 .homePage{
   @include outer-container;

   li.block {
     @include span-columns(3);
     @include omega(4n);
   }

 }

