<form ng-submit="addRecipe(recipe)">
  <h3>Recipe Title</h3>
  <input type="text" ng-model="recipe.title" placeholder="Your Recipe Title"/>

  <h3>Record Your Video</h3>


  <h3>Enter Ingredients </h3>
  <input type="text" ng-model="recipe.ingredients" placeholder="Enter An Ingredient" />


  <h3>Step By Step Directions</h3>
  <input type="text" ng-model="recipe.directions" placeholder="Add Steps" />



  <h3>Upload Photos</h3>
  <input type="file" ng-model="recipe.photo" name="pic" accept="image/*">


<br/>
  <button>Submit Recipe</button>





</form>
