<form ng-submit="addRecipe(r)">
  <h3>Recipe Title</h3>
  <input type="text" ng-model="r.title" placeholder="Your Recipe Title"/>

  <h3>Record Your Video</h3>


  <button id="openFilePicker">Choose Image</button>




  <h3>Enter Ingredients </h3>
  <textarea ng-model="r.ingredients" placeholder="Enter An Ingredient"></textarea>


  <h3>Step By Step Directions</h3>
  <textarea ng-model="r.directions" placeholder="Add Steps"></textarea>



  <h3>Choose Category</h3>
  <select ng-model="r.category"  id="postTag" placeholder="Select Meal">
    <option value="breakfast" >Breakfast</option>
    <option value="lunch" >Lunch</option>
    <option value="dinner" >Dinner</option>
    <option value="dessert" >Dessert</option>
    <option value="drinks" >Drinks</option>


  </select>



  <h3>Upload Photos</h3>
  <input type="file" name="pic" accept="image/*">
  <input type="submit">


<br/>
  <button>Publish Recipe</button> <button>Save to Profile</button>





</form>
